.module {
  margin: 5px;
}

.module.Button, .module.Input, .module.Select {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
}

.module.FactFind {
  margin: 0;
}

.module.FactFind > header {
  text-align: center;
}

.module.Section {
  background: #eee;
  margin-top: 20px;
}

.module.Tab > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.module.Tab > ul > li {
  background: yellow;
  border: 1px solid blue;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 5px;
  text-align: center;
}

header {
  background: pink;
  padding: 5px;
  text-align: left;
}

.module.Tab > header {
  background: yellow;
  border: 1px solid blue;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  margin: 5px;
}

label > * {
  margin: 5px;
}
